.container{
    display: flex;
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 20px;
}

.top_btn{
    display: flex;
    gap: 32px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input{
    height: 50px;
    padding: 0px 8px;
}

.form_control label{
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 8px;
    font-weight: 600;
}

.form_control textarea{
    padding: 12px 12px;
}